body{
    background-image: linear-gradient(100deg,#8400ff ,#e100ff  );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    direction: rtl;
    text-align: center;
}
.content-text{
    background-color: #8400ff;
    box-shadow: 0 0 10px #000000;
    padding: 1px;
    text-align: center;
}
#content-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

    position: absolute;
    /* right: 20%; */
    
   
}
.box{
     width: 150px;
     height: 150px;
     background-color: #8400ff;
     border-radius: 10px;
     box-shadow: 0 0 10px #000000;
     font-size: 110px;
     color: aliceblue;
}


.line{
    width: 50%;
    height: 50%;
    background-image: linear-gradient(120deg, #ae00ff , #da1bca);
    position: absolute;
    z-index: 100;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    border-radius: 10px;
    box-shadow: #000000 0 0 10px;
    display: none;
    text-align: center;
    color: antiquewhite;
}
h1{
    margin-top: 40% ;
}
.content-background90{
    width: 100%;
    height: 100vh;
    background-color: #9a10c48e;
    position: absolute;
    z-index: 90;
}